.is-blue {
  background-color: blue;
}

.is-green {
  background-color: green;
}

.is-red {
  background-color: red;
}

.main__image {
  display: flex;
  justify-content: space-around;
}

h2 {
  color: white;
}

h5 {
  color: white;
}

button {
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 12px;

}
